# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Node Environment
NODE_ENV="development"
PORT=3000

# Database
DATABASE_URL="postgresql://binventory:binventory_local@localhost:5432/binventory?schema=public"

# Authentication
JWT_SECRET="your-secret-key-here"
JWT_EXPIRES_IN="24h"

# MeiliSearch
MEILISEARCH_HOST="http://localhost:7700"
MEILISEARCH_API_KEY="your-meili-key-here" 